{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block content %}
    <section class="masthead bg-primary text-white text-center" style="min-height: 912px">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h2 class= "text-uppercase mb-4">Choisissez votre conseiller</h2>
            <br>
            <div class="block-conseillers">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Je veux ce conseiller !</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


