{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}
    <section class="masthead bg-primary text-white text-center" style="min-height: 912px">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h2 class= "text-uppercase mb-4">Quelle est votre langue ?</h2>
            <br>
            <div class="row d-flex justify-content-around">
                <div class="col mt-2">
                    {% for langue in langues %}
                        <a href="{{ path('planning', {'lg': langue.language}) }}"><img class="img-fluid ml-5" src="{{ asset(langue.file) }}"/></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        //test
    </section>
{% endblock %}
