{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block content %}
    <section class="masthead bg-primary text-white text-center" style="min-height: 912px">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h2 class= "text-uppercase mb-4">Planning</h2>
            <br>


        </div>
    </section>
{% endblock %}


