{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block content %}
    <section class="masthead bg-primary text-white text-center" style="min-height: 912px">
        <div class="container d-flex align-items-center flex-column">

            {% for creneau in creneaux %}
                <a href="#">{{ creneau.day|date("d/m/Y") }}</a>
            {% endfor %}

        </div>
    </section>
{% endblock %}


